<div class="product_display">
    <div class="product_header">
        <h2>Products on Sale</h2>
        {% if Privilege >= 1 %}
            <a href="?view=4$product=&edit=2">+</a>
        {% endif %}
    </div>
    <div {% if View == 0 %} class="sale_display" {% else %} class="products_display" {% endif %}>
        {% for product in Products %}
        <!--{% if product != null %}
            --><div class="product">
                    <h3>{{ product[1] }}</h3>
                    <span class="price"> €{{ product[2] }}</span>
                    <img src="{{ product[4] }}">
                    <a href="#">Add To Cart</a>
                    <a href="?view=4&product={{ product[0] }}">View Details</a>
                </div><!--
            {% endif %}
        {%  endfor %} -->
    </div>

</div>