.control{
    width: 75%;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0px;
}

.control-card{
    display: inline-block;
    width: 280px;
    height: 350px;
}

.control-card img{
    display: block;
    width: 100%;
    height: 100%;
}