<div class="control">
    {% if Privilege == 2 %}
        <div class="control-card">
            <a href="?view=8&manage=0"><img src="images\cards\control\Manage-Users-Card.png"></a>
        </div>
    {% endif %}
    <div class="control-card">
        <a href="?view=8&manage=1"><img src="images\cards\control\Manage-Products-Card.png"></a>
    </div>
    <div class="control-card">
        <a href="?view=8&manage=2"><img src="images\cards\control\Manage-Subscribers-Card.png"></a>
    </div>
</div>