    <footer>
        Footer
        <form>
            </span><input type="email" name="Email" placeholder="@Example.com" required>
            <button type="submit" name="Submit" value="Submit">Submit</button>
        </form>
    </footer>
    </body>
</html>