    <footer>
        <hr>
        <h4>Site Map </h4>
        <hr>
        <div class="site-map">
            <div class="map">
            <h5>Products</h5>
            <hr>
                <li>
                    <ul><a href="#">Digital Products</a></ul>
                    <ul><a href="#">Physical Products</a></ul>
                    <ul><a href="#">Tickets</a></ul>
                    <ul><a href="#">Collectibles</a></ul>
                </li>
            </div>
            <div class="map">
                <h5>User Panel</h5>
                <hr>
                <li>
                    <ul><a href="#">Account Management</a></ul>
                    <ul><a href="#">Billing Information</a></ul>
                    <ul><a href="#">Shipping Information</a></ul>
                    <ul><a href="#">Site Settings</a></ul>
                </li>
            </div>
            <div class="map">
                <h5>About Us</h5>
                <hr>
                <li>
                    <ul><a href="#">Location</a></ul>
                    <ul><a href="#">Site Info</a></ul>
                    <ul><a href="#">Employees</a></ul>
                    <ul><a href="#">Users</a></ul>
                </li>
            </div>
            <div class="map">
                <h5>Contact</h5>
                <hr>
                <li>
                    <ul><a href="#">Email</a></ul>
                    <ul><a href="#">Phone</a></ul>
                    <ul><a href="#">Social Media</a></ul>
                    <ul><a href="#">Leave A Comment</a></ul>
                </li>
            </div>
        </div>
        <form action="?view=6&process=5&manage=2" method="post">
            <span>Subscribe to our news letter:</span> <input type="email" name="sEmail" placeholder="@Example.com" required>
            <button type="submit" name="Submit" value="Submit">Submit</button>
        </form>
        <hr>
        <span>Inset some legal garbage of how you can take the code <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">See Here</a></span>
        <hr>
    </footer>
    </body>
</html>