<!DOCTYPE html>

<html>
    <head>
        <title> {{ WebpageTitle }}</title>
        <link rel="stylesheet" type="text/css" href="css/page-style.css">
        <link rel="stylesheet" type="text/css" href="css/navbar-style.css">
        <link rel="stylesheet" type="text/css" href="css/footer-style.css">
    </head>
    <body>
    <div>
        <div>
            <ul>
                {% if login == 1 %} <!-- Change -->

                <li><a href="#">Account</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Logout</a></li>

                {%  else %}

                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>

                {% endif %}
            </ul>
        </div>
        <nav>
            <ul>
                <li><a href="?view=0">Home</a></li>
                <li><a href="?view=1">Merchandise</a></li>
                <li><a href="?view=2">News</a></li>
                <li><a href="?view=3">About Us</a></li>
            </ul>
        </nav>
    </div>