<!DOCTYPE html>

<html>
    <head>
        <title> {{ WebpageTitle }}</title>
        <link rel="stylesheet" type="text/css" href="css/page-style.css">
        <link rel="stylesheet" type="text/css" href="css/navbar-style.css">
        <link rel="stylesheet" type="text/css" href="css/userpanel-style.css">
        <link rel="stylesheet" type="text/css" href="css/control-style.css">
        <link rel="stylesheet" type="text/css" href="css/image-display-style.css">
        <link rel="stylesheet" type="text/css" href="css/product-display-style.css">
        <link rel="stylesheet" type="text/css" href="css/news-display-style.css">
        <link rel="stylesheet" type="text/css" href="css/footer-style.css">
    </head>
    <body>
    <div class="nav_background">
        <div class="nav_info">
            <ul>
                {% if LoggedIn %} <!-- Change -->
                    {% if Privilege > 0 %}
                        <li><a href="?view=8" {% if Active == 8 %}class="nav_info_active"{% endif %}>Control</a></li>
                    {% endif %}
                <li><a href="?view=7" {% if Active == 7 %}class="nav_info_active"{% endif %}>Account</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="?view=6&process=0">Logout</a></li>

                {%  else %}

                <li><a href="?view=5&login=1" {% if Active == 5 %}class="nav_info_active"{% endif %}>Login</a></li>
                <li><a href="?view=5&login=0" {% if Active == 5 %}class="nav_info_active"{% endif %}>Register</a></li>

                {% endif %}
            </ul>
        </div>
        <a href="?view=0"><img src="#"></a>
        <h1>Website Title</h1>
        <nav>
            <ul>
                <li><a href="?view=0" {% if Active == 0 %}class="nav_active"{% endif %}>Home</a></li><!--
                --><li><a href="?view=1" {% if Active == 1 %}class="nav_active"{% endif %}>Merchandise</a></li><!--
                --><li><a href="?view=2" {% if Active == 2 %}class="nav_active"{% endif %}>News</a></li><!--
                --><li><a href="?view=3" {% if Active == 3 %}class="nav_active"{% endif %}>About Us</a></li>
            </ul>
        </nav>
    </div>