<!DOCTYPE html>

<html>
    <head>
        <title> {{ WebpageTitle }}</title>
        <link rel="stylesheet" type="text/css" href="css/page-style.css">
        <link rel="stylesheet" type="text/css" href="css/navbar-style.css">
        <link rel="stylesheet" type="text/css" href="css/footer-style.css">
    </head>
    <body>
    <div>
        <div>
            <ul>
                {% if LoggedIn %} <!-- Change -->
                    {% if Privilege == 2 %}
                        <li><a href="?view=8&manage=0">Control Panel</a></li>
                    {% endif %}
                <li><a href="?view=7">Account</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="?view=6">Logout</a></li>

                {%  else %}

                <li><a href="?view=5&login=1">Login</a></li>
                <li><a href="?view=5&login=0">Register</a></li>

                {% endif %}
            </ul>
        </div>
        <nav>
            <ul>
                <li><a href="?view=0">Home</a></li>
                <li><a href="?view=1">Merchandise</a></li>
                <li><a href="?view=2">News</a></li>
                <li><a href="?view=3">About Us</a></li>
            </ul>
        </nav>
    </div>