<div class="userpanel">
    <form action="?view=6&process=1" method="post">
        {% if Error == 1%}
            <div class="error">Invalid Password Or Username</div>
        {% endif %}
        <hr>
        <h2>Login</h2>
        <hr>
        <div class="input"><input maxlength="22" type="text" name="Username" placeholder="Username" pattern="[0-9A-Za-z].{3,}" required ></div>
        <div class="input"><input maxlength="22" type="password" name="Password" placeholder="Password" pattern="[0-9A-Za-z].{1,}"  required></div>
        <br>
        <button type="submit" name="Login" value="Login">Login</button>
        <hr>
        <a href="#">Forgot your Username?</a>
        <br>
        <a href="#">Forgot your Password?</a>
    </form>
</div>
